section {
  min-height: 200px;
  padding-top: 25px;
  background-color: #363636;
  border: 2px solid #66cc99;
  border-radius: 3px;
  margin-bottom: 20px;
  color:rgb(190, 190, 190);
  width: 97%;
  margin: 0 auto;
}

.CarouselBox {
  width: 90%;
  margin: 15px auto;
}

.thumbs-wrapper {
  display: none;
}

.project-Description {
  border-bottom: 2px solid #66cc99;
  padding: 15px;
}

.project-Container {
  height: auto;
  margin-bottom: 15px;
}

.project-Container h3 {
  font-size: 30px;
  margin: 10px auto;
  color: #66cc99;
}

.header-Name {
  color: white;
  font-size: 24px;
}

.project-IMG {
  width: 80%;
  height: auto;
  margin: 15px 0;
}

.ui-icon-jquery {
  width: 35px;
  height: auto;
  filter: grayscale(100%);
  margin-top:5px;
}
.fab {
  font-size: 25px;
}

@media only screen and (min-width: 750px) {
  section {
    width: 70%;
    margin: 0 auto;
  }
}