.AboutContainer {
  background-color: rgba(0,0,0, 0.4); 
  border: 3px solid #66cc99;
  padding: 25px;
  border-radius: 3px;
  margin: 15px 15%;
}

@media only screen and (max-width: 850px) {
  .AboutContainer {
    background-color: rgba(0,0,0, 0.4); 
    border: 3px solid #66cc99;
    padding: 25px;
    border-radius: 3px;
    margin: 15px 5%;
  }
}